[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"
  port = 5173

[build.environment]
  NODE_VERSION = "18"
  VITE_API_BASE_URL = "https://casapin-backend.fly.dev"
  VITE_BOOKING_URL = "https://www.booking.com/hotel/es/vivienda-vacacional-casa-pin.es.html"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
