app = "casapin-backend"
primary_region = "cdg"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"

  [[services.http_checks]]
    grace_period = "1m0s"
    interval = "10s"
    method = "GET"
    path = "/api/health"
    protocol = "http"
    timeout = "5s"
    port = 8080

  [[services.tcp_checks]]
    grace_period = "1m30s"
    interval = "10s"
    timeout = "5s"
    port = 8080

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443


