app = "casapin-backend"
primary_region = "cdg"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"

[[services]]
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.http_checks]]
    interval = "10s"
    timeout = "5s"
    grace_period = "60s"
    method = "GET"
    path = "/api/health"
    protocol = "http"
    port = 8080

  [[services.tcp_checks]]
    interval = "10s"
    timeout = "5s"
    grace_period = "90s"
    port = 8080


