app = "casapin-backend"
primary_region = "cdg"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true

  # ⚡ Auto-apagado para ahorrar dinero
  auto_stop_machines = true       # Apaga la máquina cuando no hay tráfico
  auto_start_machines = true      # La enciende cuando llegue una petición
  min_machines_running = 0        # Permite que no haya máquinas activas

  [[http_service.checks]]
    grace_period = "1m0s"
    interval = "10s"
    timeout = "5s"
    method = "GET"
    path = "/api/health"
    protocol = "http"

